.nav__header{
    font-size: 3em;
    justify-content: center;
    align-items: center;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    text-transform: uppercase;
}


.nav__menu {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.nav__effect {
    color: black;
}

.nav__effect:hover{
    color: brown;
}